body{
    margin: 0 auto;
    padding: 0;
    background-color: steelblue;
}


/* Carousel Style */

#caro{
    margin-top: 0px;
    width: 100%;
    height: 70vh;
    
}

#carocap{
    text-align: center;
    padding:250px;
}